# Extensions
**/*.log
**/*.gz
**/*.DS_Store
**/*.jar
**/*.mrpack
**/*.code-workspace
**/*.zip
**/*.bak

# Dev
.vs/
.vscode/
.idea/
package.json
package.g.props
package-lock.json
node_modules/
Modpack-Modern.sln
Modpack-Modern.esproj
crowdin.yml

# Docker
/.github/docker/data
/.github/docker/backups

# KJS
kubejs/probe/
kubejs/jsconfig.json

# Configs
config/jei/
config/antiquelegacy/
config/coldsweat/
config/CoroUtil/
config/easy_npc/
config/epicknights/
config/fabric/
config/ironchests/
config/jade/
config/jamlib/
config/knightsofterrafirma/
config/nucleus/
config/pickupnotifier/
config/punchy/
config/sort_it_out/
config/sound_physics_remastered/
config/tombstone/
config/voicechat/
config/WildfireGender/
config/xaero/

jeresources-common.toml
shrink-common.toml

modernfix-common.toml
modernfix-mixins.properties

oculus.properties

advancedtfctech-client.toml
alekiships-client.toml
balm-client.toml
caelum-client.toml
configured-client.toml
cosmeticarmorreworked-client.toml
create-client.toml
curios-client.toml
decay_2012-client.toml
easyanvils-client.toml
easymagic-client.toml
everycomp-client.toml
exposure-client.toml
extremesoundmuffler-client.toml
farmersdelight-client.toml
flywheel-client.toml
forge-client.toml
holdmybeer-client.toml
ihearttfc-client.toml
immersiveengineering-client.toml
lootbeams-client.toml
lootr-client.toml
mindfuldarkness-client.toml
moonlight-client.toml
mutil-client.toml
neo_auth-client.toml
parcool-client.toml
patchouli-client.toml
ponder-client.toml
puzzlesapi-iteminteractions-client.toml
simpleradio-client.toml
sns-client.toml
sodiumdynamiclights-client.toml
supplementaries-client.toml
tfc-client.toml
tfcagedalcohol-client.toml
tfcgroomer-client.toml
tombstone-client.toml
toolbelt-client.toml
visualworkbench-client.toml
voicechat-client.toml
watut-client.toml

xaerohud.txt
xaerominimap-common.txt.backup0
xaeropatreon.txt
xaeroworldmap.txt.backup0
xaeroworldmap-common.txt.backup0

yacl.json5
sidebar_buttons.json
resourceful-config-web.json
MouseTweaks.cfg
immediatelyfast.json
dynamic_fps.json
betterfpsdist.json
chunksending.json

embeddium-fingerprint.json
embeddium-mixins.properties
embeddium-options.json

# other
.cache/
.mixin.out/
crash-reports/
disabledmods/
Distant_Horizons_server_data/
easy_npc/
ESM/
immersive_library/
jarmods/
local/
logs/
modernfix/
mods/
moonlight-global-datapacks/
patchouli_books/
resourcepacks/
saves/
schematics/
screenshots/
shaderpacks/
xaero/
XaeroWaypoints_BACKUP240807/
/data/fabricDefaultResourcePacks.dat

instance.json
options.txt
patchouli_data.json
rhino.local.properties
servers.dat_old
usercache.json
usernamecache.json
/config/presencefootsteps/userconfig.json
/config/sounds/mod_utils.json
/config/weaponmaster_ydm-common.toml
/config/sounds/world.json
/config/sounds/chat.json
/config/railways-client.toml
/config/copycats-client.toml
kubejs/server_scripts/TFMG.js
config/chat_heads.json5
config/NoChatReports/NCR-Client.json
